* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.top-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#calendar li,
#nome-mese {
    text-transform: capitalize;
}

.festivo {
    color: red;
}

.btn-navigation {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-navigation:disabled {
    background-color: lightgray;
    color: black;
    cursor:not-allowed;
}

.main-calendar {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#calendar {
    width: 60%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.giornoDelMese,
.skippaUno {
    width: calc(100% / 7);
    height: 100px;
    border: 1px solid black;
    list-style-type: none;
    font-size: 16px;
    padding: 3px;
}
